
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 13% 8%;
    --foreground: 0 0% 98%;
    
    --card: 224 5% 12%;
    --card-foreground: 0 0% 98%;
    
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 98%;
    
    --primary: 120 43% 55%;
    --primary-foreground: 0 0% 100%;
    
    --secondary: 191 57% 33%;
    --secondary-foreground: 0 0% 98%;
    
    --muted: 223 6% 19%;
    --muted-foreground: 0 0% 63.9%;
    
    --accent: 223 6% 19%;
    --accent-foreground: 0 0% 98%;
    
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    
    --border: 223 6% 19%;
    --input: 223 6% 19%;
    --ring: 120 43% 55%;
    
    --radius: 0.25rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
